.App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f4f4;
  border: #000000 2px solid;
  margin: 5px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
}
button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
