<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="./style.css">

    <title>guess emoji</title>


</head>
<body>
<h1>GUESS THE EMOJI</h1>

<div class="game-container">

    <div class="top-row">
        <div class="timer-box">
            <h2>TIMER</h2>
            <p id="timer">00</p>
        </div>

        <div class="score-box">
            <h2>SCORE</h2>
            <p id="score">Correct: 0 | Wrong: 0</p>
        </div>
    </div>

    <div class="emoji-card">
        <p class="png">🤔</p>
        <h3>Guess the emoji:</h3>

        <select class="op"></select>
        <button id="submit">SUBMIT</button>
        <div class="check"></div>
    </div>

    <button id="start">RESTART</button>

</div>

<script src="script.js"></script>
</body>
</html>