.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: #333;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.recipe-card {
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 800px;
  align-content: center;
  text-align: center;
}
