button {
  padding: 10px 20px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
